.about {
  padding: 0 15rem;
  display: flex;
  flex-direction: row;
  align-items: center;

  @include respond(tab-port) {
    margin: 0 auto;
    padding: 0 5rem;
    margin-bottom: 3rem;
    flex-direction: column;
    justify-content: center;
  }
}