.header {
  height: 105vh;
  width: 100%;
  background-image: linear-gradient(
      rgba($color-black, 0.8),
      rgba($color-black, 0.8)
    ),
    url("images/computer.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 95vh, 0 100%);
  position: relative;

  &__wrapper {
    flex: 1;
    width: 100%;
    padding: 7rem;
    position: absolute;
    height: 100%;
  }

  &__logo-box {
    height: 30%;
  }

  &__logo-name {
    color: white;
    font-size: 2rem;
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    line-height: 2.3rem;
    letter-spacing: 0.2rem;
  }

  &__text-box {
    height:25%;
  }

  &__text-box > .typewrite {
    font-size: 6rem;
    font-weight: 500;
    letter-spacing: 1rem;

    @include respond(phone) {
      letter-spacing: 0.5rem;
      font-size: 4rem;
    }
  }

  &__button {
    bottom: 0;
    display: flex;
    flex-direction: row;
    text-align: center;
    @include respond(phone) {
      width: 100%;
      flex-direction: column;
    }

    & button:last-child {
      margin: 0 2rem;
      @include respond(phone) {
        margin: 2rem 0;
      }
    }
  }
}

.typewrite {
  color: $color-white;
  text-decoration: none;
}
