.section-about,
.section-projects,
.section-nav,
.section-project,
.section-contact {
  padding-left: $margin-left-right;
  padding-right: $margin-left-right;
  width: 100%;

  @include respond(big-desktop) {
    padding-left: $margin-left-right-lg;
    padding-right: $margin-left-right-lg;
  }

  @include respond(tab-port) {
    padding-left: $margin-left-right-sm;
    padding-right: $margin-left-right-sm;
  }

  @include respond(phone) {
    padding-left: $margin-left-right-xs;
    padding-right: $margin-left-right-xs;
  }
}

.section-about,
.section-projects,
.section-project,
.section-contact {
  background-color: $color-grey-light-1;
}

.section-projects {
  padding-top: 3rem;
  padding-bottom: 10rem;
}

.section-about {
  margin-top: -15vh;
  padding-top: 25rem;
  padding-bottom: 10rem;
}

.section-contact {
}

.footer {
  background-color: $color-grey-dark-2;
  padding: 3rem 0;
  font-size: 1.4rem;
}

.section-project {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

// .section-stripe {
//   top: 15rem;
//   height: 65rem;
//   padding: 20rem 0;
//   background-image: linear-gradient(
//       rgba($color-black, 0.8),
//       rgba($color-black, 0.8)
//     ),
//     url("images/computer.jpg");
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
//   -webkit-clip-path: polygon(0 11%, 100% 0%, 100% 37%, 0 48%);
//   clip-path: polygon(0 11%, 100% 0%, 100% 37%, 0 48%);

//   @include respond(tab-port) {
//     display: none;
//   }
// }

// .section-features {
//   height: 60vh;
//   padding: 20rem 0;

//   background-image: linear-gradient(
//       rgba($color-black, 0.8),
//       rgba($color-black, 0.8)
//     ),
//     url("images/computer.jpg");
//   background-size: cover;
//   position: relative;
//   background-attachment: fixed;
// }

// .section-stripe2 {
//   position: relative;
//   padding: 10rem 0;
// }

.section-code-samples {
  padding: 8rem 0;
  @include respond(tab-port) {
    padding: 4rem 0;
  }
}

.iframe {
  padding: 0 8rem;
  @include respond(tab-port) {
    padding: 0;
  }
}

.replit-logo:hover {
  color: $color-primary;
}

.contact {
  background-image: linear-gradient(
      105deg,
      rgba($color-white, 0.7) 0%,
      rgba($color-white, 0.9) 50%,
      transparent 50%
    ),
    url(images/developers.jpg);
  background-size: 100%;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, 0.2);
  height: 50rem;

  @include respond(tab-port) {
    background-image: linear-gradient(
        105deg,
        rgba($color-white, 0.8) 80%,
        rgba($color-white, 0.5) 100%,
        transparent 50%
      ),
      url(images/developers.jpg);
  }

  &__form {
    width: 50%;
    padding: 1.5rem 5rem;

    @include respond(tab-port) {
      width: 100%;
    }
  }
}
