.section-about,
.section-projects,
.section-nav,
.section-project,
.section-see-more,
.section-contact {
  padding-left: $margin-left-right;
  padding-right: $margin-left-right;
  width: 100%;

  @include respond(big-desktop) {
    padding-left: $margin-left-right-lg;
    padding-right: $margin-left-right-lg;
  }

  @include respond(tab-port) {
    padding-left: $margin-left-right-sm;
    padding-right: $margin-left-right-sm;
  }

  @include respond(phone) {
    padding-left: $margin-left-right-xs;
    padding-right: $margin-left-right-xs;
  }
}

.section-projects {
  padding-top: 8rem;
  padding-bottom: 8rem;
}

.section-project {
  padding-bottom: 6rem;
}

.section-see-more {
  padding-bottom: 6rem;
  padding-top: 6rem
}

.section-about {
  margin-top: -15vh;
  padding-top: 25rem;
  padding-bottom: 10rem;
}

.section-contact {
  padding-bottom: 6rem;
}

.footer {
  background-color: $color-grey-dark-2;
  padding: 3rem 0;
  font-size: 1.4rem;
}

.section-project {
  padding-top: 5rem;
  padding-bottom: 10rem;
}

.section-code-samples {
  padding: 8rem 0;
  @include respond(tab-port) {
    padding: 4rem 0;
  }
}
